"# Python__pycache__/*.py[cod]*$py.class.envvenv/.vscode/*.pyc# Node/Reactnode_modules/build/.env.local.env.development.local.env.test.local.env.production.localnpm-debug.log*yarn-debug.log*yarn-error.log*" 
