<div class="audio-viewer">
    <div class="upload-zone" id="audioDropzone">
        <div class="dz-message">Drop audio files here or click to upload</div>
    </div>
    
    <div class="viewer-controls">
        <button class="btn btn-primary" id="processAudioBtn">Process</button>
        <button class="btn btn-secondary" id="augmentAudioBtn">Augment</button>
    </div>
    
    <div class="viewer-display">
        <div class="original">
            <h4>Original</h4>
            <div id="originalWaveform"></div>
        </div>
        <div class="processed">
            <h4>Processed</h4>
            <div id="processedWaveform"></div>
        </div>
    </div>
</div>
