<div class="text-viewer">
    <div class="upload-zone" id="textDropzone">
        <div class="dz-message">Drop text files here or click to upload</div>
    </div>
    
    <div class="viewer-controls">
        <button class="btn btn-primary" id="processTextBtn">Process</button>
        <button class="btn btn-secondary" id="augmentTextBtn">Augment</button>
    </div>
    
    <div class="viewer-display">
        <div class="original">
            <h4>Original</h4>
            <pre id="originalText" class="text-content"></pre>
        </div>
        <div class="processed">
            <h4>Processed</h4>
            <pre id="processedText" class="text-content"></pre>
        </div>
    </div>
</div>
